body
{
  margin: 0;
  margin-bottom: 110px;
  padding: 0;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.calendar{
	margin-left: 300px;
	margin-top: 10px;
}

h1 {
	text-align: center;
	font-size: 100px;
	font-family: MS Gothic;
	letter-spacing: 20px;
}

td {
	text-align: center;
	
}

table {
	height: 400px;
	width: 950px;
	font-size: 25px;
	font-family: MS Gothic;
}

.set 
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.set div
{
  position: absolute;
  display: block;
}

.set div:nth-child(1)
{
  left: 7%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
  opacity:5px;
}

.set div:nth-child(2)
{
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(3)
{
  left: 70%;
  animation: animate 25s linear infinite;
  
}

.set div:nth-child(4)
{
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(5)
{
  left: 85%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}

.set div:nth-child(6)
{
  left: 0%;
  animation: animate 12s linear infinite;
  animation-delay: -7s;
}

.set div:nth-child(7)
{
  left: 15%;
  animation: animate 14s linear infinite;
  animation-delay: -7s;
}

.set div:nth-child(8)
{
  left: 60%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
  
}

@keyframes animate
{
  0%
  {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  } 
  10%
  {
    opacity: 1;

  }
  20%
  {
  
    transform: translateX(-20px) rotate(45deg);
  }
  40%
  {
  
    transform: translateX(-20px) rotate(90deg);
  }
  60%
  {
  
    transform: translateX(20px) rotate(135deg);
  }
  80%
  {
  
    transform: translateX(-20px) rotate(180deg);
  }
  100%
  {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
  10%
  {
    opacity: 1;
    top: -10%;
  }
}


.next{
	border: none;
	padding: 10px 15px;
	margin-left: 1100px;
	margin-top: 660px;
	font-size: 16px;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight:600;
	border-radius: 10px;
	cursor: pointer;
}

.previous {
	border: none;
	padding: 10px 15px;
	margin-left: 300px;
	margin-top: 660px;
	font-size: 16px;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight:600;
	border-radius: 10px;
	cursor: pointer;
}

